<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a routerLink="/" class="navbar-brand">TAS 2018</a>
      </div>
      <div class="collapse navbar-collapse">
          <ng-template [ngIf]="isAuthenticated()">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active" ><a >Browse Movies</a></li>
                    <li routerLinkActive="active"><a >Your Collection</a></li>
                    <li routerLinkActive="active" *ngIf="isAdmin()" routerLink="/admin"><a class="cursor">Admin Panel</a></li>
                </ul> 
                <ul class="nav navbar-nav navbar-right">
                    <p class="navbar-text">Welcome <strong>{{ username }}</strong></p>
                    <li><a class="cursor"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                    <li><a (click)="onLogOut()" class="cursor"><span class="glyphicon glyphicon-log-out"></span> Log out!</a></li>
              </ul>
          </ng-template>
          <ng-template [ngIf]="!isAuthenticated()">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active" ><a >Browse Movies</a></li>
                </ul> 
                <ul class="nav navbar-nav navbar-right">
                        <li routerLinkActive="active" routerLink="/login"><a class="cursor"><span class="glyphicon glyphicon-log-in "></span> Log In</a></li>
                        <li routerLinkActive="active" routerLink="/signup"><a class="cursor"><span class="glyphicon glyphicon-user "></span> Register</a></li>
              </ul>
          </ng-template>

      </div>
  </div>
</nav>