<div class="row aligner">
  <div class="aligner-item col-sm-8">
    <h2>Sign up form!</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Login:</label>
        <input type="text" id="name" class="form-control" id="name" 
        formControlName="name">
        <span class="help-block"
        *ngIf="!signUpForm.get('name').valid && signUpForm.get('name').touched"> Please enter a valid username (8 characters long)!</span>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" id="email"
        formControlName="email">
        <span class="help-block"
        *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched"> Please enter a valid email!</span>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" id="password" class="form-control" id="pwd"
        formControlName="password">
        <span class="help-block"
        *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched"> Please enter a valid password (8 characters long)!</span>
      </div>
      <hr>
      <button type="submit" class="btn btn-default" style="width: 100%;"
      *ngIf="signUpForm.valid">Submit</button>
    </form>
    <br>
    <div class="alert alert-danger" *ngIf="errorMsg">
        <strong>Warning!</strong> {{ errorMsg}}
      </div>
  </div>
</div>