<div class="row aligner">
  <div class="aligner-item col-sm-8">
    <h2>Log-In User</h2>
    <form>
      <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" class="form-control" id="login">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <hr>
      <button type="button" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>